<!DOCTYPE HTML>
<html>
<head>

  <!-- <%= settings.environment %> -->

   <% if (settings.environment == :development) %>
  <link rel="stylesheet" href="/styles/manifest.css">
  <% else %>
  <link rel="stylesheet" href="/build/manifest.css">
  <% end %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
  <script src="http://yui.yahooapis.com/3.17.2/build/yui/yui.js"></script>
  
  <% if (settings.environment == :development)
  settings.scriptsManifest.each do |filename| %>
  <script src="/scripts/<%= filename %>.js"></script>
  <% end else %>
  <script src="/build/rollup.js"></script>
  <% end %>
  
  <title>Welcome to MyApp</title>

  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta property="og:title" content="MyApp" />

  <meta property="og:site_name" content="MyApp" />
 <!--  <meta property="og:description" content="" />
  <meta property="og:image" content="/images/" /> -->



</head>
<body>
  <!-- begin content -->
  <%= yield %>
  <!-- end content -->
</body>
</html>